@model List<string>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @foreach(string menuItem in Model){
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="@menuItem">@menuItem</a>
            </li>
        }   
    </ul>
</div>